@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bungee&family=Iansui&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bungee&family=Iansui&family=Kaisei+HarunoUmi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bungee&family=Hina+Mincho&family=Iansui&family=Kaisei+HarunoUmi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.iansui-regular {
  font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}

.kaisei-harunoumi-regular {
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 400;
  font-style: normal;
}

.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
