#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  0% {
    left: 0;
    transform: translateY(0);
  }
  25% {
    left: 100px;
    transform: translateY(-20px); /* 上升 */
  }
  50% {
    left: 200px;
    transform: translateY(0);
  }
  75% {
    left: 100px;
    transform: translateY(-20px); /* 再次上升 */
  }
  100% {
    left: 0;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 3.5s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
